.catalogue {
  display: grid;
  gap: 50px;
  width: fit-content;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 21px;
  }

  &__pagination {
    margin-inline: auto;
  }
}

@media (980px < width < 1560px) {
  .catalogue {
    &__list {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (0 < width < 980px) {
  .catalogue {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}
