@use "assets/variables" as vars;
@mixin active {
  color: white;
  background: vars.$accent;
}

.filter {
  display: flex;
  gap: 11px;

  &_vertical {
    display: grid;
    gap: 0;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__card {
    @include vars.flexDefault;
    min-width: 80px;
    height: 50px;
    padding: 10px;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    background: white;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: vars.$desc;

    &:hover {
      font-weight: 500;
      color: vars.$text;
    }

    &_active {
      @include active;
      font-weight: 500;

      &:hover {
        color: white;
      }
    }
  }

  &__verticalCard {
    @include vars.flexDefault;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 14px;
    color: vars.$desc;
    padding-block: 5px;

    &:hover {
      font-weight: 500;
      color: vars.$text;
    }

    &_active {
      @include active;
      color: vars.$text;
      padding-left: 5px;
      font-weight: 500;
      border-radius: 2px;
    }
  }
}
