@use 'assets/variables' as vars;

.email {
  display: flex;
  background: vars.$bg;
  border-radius: 36px;
  position: relative;
  min-height: 39px;
  padding: 10px 19px;

  &__input {
    background: transparent;
    font-size: 12px;
    min-width: 190px;
    margin-right: 35px;

    &::placeholder {
      color: vars.$placeholder;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    margin: 10px;
    background: vars.$accent;
    color: white;
    cursor: pointer;

    & > svg {
      stroke: white;
      fill: transparent;
    }
  }
}
